@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fadeInTop {
  0% {
    transform: translateY(50px); /* Start 50px below */
    opacity: 0; /* Start invisible */
  }
  100% {
    transform: translateY(0); /* Move to original position */
    opacity: 1; /* Become fully visible */
  }
}

.fadeInTop {
  animation: fadeInTop 1.5s ease-out forwards; /* 1.5s duration */
}


.animate-blink {
  animation: blink 1s step-end infinite;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #f3f4f6;
}

